<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/slip.css">
</head>
<body>
        <header>
            <nav>
                <ul>
                    <li><a href="/accountant">HOME</a></li>
                    <li class="login"><a href="/logout">LOG OUT</a></li>
                </ul>
            </nav>
        </header>

        <main>
           
                <div class="container">
                    <% data.forEach(element => { %>
                       <h1>PAYSLIP FOR <%= element.Firstname %> &nbsp; <%= element.Lastname %>  </h1>4
                    <% }); %>  
                </div>
        </main>
    
</body>
</html>