*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
    height: 60px;
    background-color: #39A4AC;
}

nav ul{
    display: flex;
    gap: 20px;
    flex-direction: row;
    padding-top: 1px;
}

nav ul .logo{
    background-color: white;
    padding: 2px;
}

nav ul .logo img{
    width: 130px;
    height: 51px;
}

nav ul li{
  list-style: none;
  text-align: center;
  border: 1px solid black;
  border-top: none;
  border-bottom: none;
  border-left: none;
  height: 10px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 35px;
  margin-left: 50px;
  margin-top: 5px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav .contact{
    border: 1px solid gold;
    border-radius: 10px;
    background-color: gold;
    color: darkblue;
    font-size: 20px;
    height: 25px;
    width: 200px;
    padding: 5px;
    text-align: center;
    margin-left: 80px;
    margin-top: 10px;
}

form{
    margin: auto;
    width: 400px;
    margin-top: 50px;
}

input{
    outline: none;
}

.names, .dates{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}

.names,.dates,  .absent, .times, .workdays, .sub_btn, .month{
    margin-top: 30px;
}

.password, .absent, .workdays, .sub_btn, .month, .times{
    display: grid;
    grid-template-columns: 100%;
}
.names input, .dates input{
    width: 185px;
}

.names input, .times input, .absent input, .dates input,.workdays input, .sub_btn input,.month input{
    height: 30px;
}

.sub_btn input {
    border: 1px solid #39A4AC;
    background-color: #39A4AC;
    color: white;
    font-size: 18px;
}

.dept select{
    height: 35px;
}